*{
    margin: 0%;
    padding: 0%;
}
body{   
    background-size: cover;
    background-attachment: fixed;
    background-image: url(Image/backlogin.jpeg);
}

.title{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
.title h1{
    color: black;
    font-size: 40px;
}

/* SIGN IN FORM SECTION AND COLUMN */
.row{
    margin-top: 30px;
}
.col-4{
    margin-left: 50px;
    width: 790px;
    border: none;
}
.col-4 p{
    font-family: 'Poppins', sans-serif;  
}
.col-4 a{
    text-decoration: none; 
    color: black;
    font-size: 25px;    
    font-family: 'Poppins', sans-serif; 
}
.col-4 i{
    margin-left: 10px;
}
.col-4 .p1:hover{
    color: red;
}
.col-4 .p2:hover{
    color: rgb(76, 143, 230);
}
.col-4 .p3:hover{
    color: rgb(25, 184, 65);
}


.col-6{
    margin-left: 90px;
    border: none;
    position: relative;
    background-attachment: fixed;
    display: flex;
    width: auto;
    align-items: flex-end;
    flex-direction: column;
}
.col-6 a{
    text-decoration: none;
    color: black;
    height: auto;
}
.col-6 .btndiv{
    border:3px solid black; 
    background-color: #f6c28b;
    border-radius: 50px;
    margin: 20px;
    width: 300px;
    padding-top: 17px;
    padding-bottom: 10px;
    padding-left: 30px;
    transition: 0.5s;
}
.col-6 .btndiv h5{    
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
}

.col-6 .btndivactive{
    
    font-family: 'Poppins', sans-serif;
    border:3px solid black; 
    background-color: #2ba1cf;
    border-radius: 50px;
    margin: 20px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.col-6 .btndivactive h4{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;   
}
.btndivactive:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.btndiv:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.home a{
    text-decoration: none;
    color: #f6c28b;
    font-family: 'Poppins', sans-serif;  
}
.home{
    font-size: 25px;
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}
.home a:hover{
    color: rgb(255, 255, 255);
}


@media only screen and (max-width: 800px){
  
    .title{
        display: flex;
        margin-top: 50px;
        margin-left: 50px;
    }
    .title h1{
        color: black;
        font-size: 40px;
    }
/* SIGN IN FORM SECTION AND COLUMN */
.row{
    margin-top: 30px;
}
.col-4{
    margin-left: 30px;
    width: 350px;
    border: none;
}
.col-4 p{
    font-family: 'Poppins', sans-serif;  
}
.col-4 a{
    text-decoration: none; 
    color: black;
    font-size: 25px;    
    font-family: 'Poppins', sans-serif; 
}
.col-4 i{
    margin-left: 10px;
}
.col-4 .p1:hover{
    color: red;
}
.col-4 .p2:hover{
    color: rgb(76, 143, 230);
}
.col-4 .p3:hover{
    color: rgb(25, 184, 65);
}
    
    .col-6{
        margin-top: 30px;
        margin-left: 20px;
        border: none;
        position: relative;
        background-attachment: fixed;
        display: flex;
        width: auto;
        align-items: center;
        flex-direction: column;
    }
    .col-6 a{
        text-decoration: none;
        color: black;
        height: auto;
    }
    .col-6 .btndiv{
        border:3px solid black; 
        background-color: #f6c28b;
        border-radius: 50px;
        margin: 20px;
        width: 250px;
        padding-top: 17px;
        padding-bottom: 10px;
        padding-left: 30px;
        transition: 0.5s;
    }
    .col-6 .btndiv h5{    
        font-family: 'Poppins', sans-serif;   
        font-size: 20px;
    }
    
    .col-6 .btndivactive{
        
        font-family: 'Poppins', sans-serif;
        border:3px solid black; 
        background-color: #2ba1cf;
        border-radius: 50px;
        margin: 20px;
        width: 250px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 30px;
        margin-bottom: 30px;
        transition: 0.5s;
    }
    .col-6 .btndivactive h4{
        font-size: 35px;
        font-family: 'Poppins', sans-serif;   
    }
    .btndivactive:hover{
        transform: scale(1.05);
        transition: 0.5s;
    }
    .btndiv:hover{
        transform: scale(1.05);
        transition: 0.5s;
    }
    .home a{
        text-decoration: none;
        color: #805425;
        font-family: 'Poppins', sans-serif;  
    }
    .home{
        font-size: 25px;
        text-align: end;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .home a:hover{
        color: rgb(0, 0, 0);
    }

}















